@import "reset";
@import "base";
@import "color";
@import "keyframe";

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;

    .app_header {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.2rem;
        text-align: center;
        background: #111;
    }

    .m_container {
        flex: 1 1;
        height: 100%;
        padding: 1rem 0 6rem;
    }

    .global_nav {
        position: sticky;
        bottom: 0;
    }
}
.app_inner {
    padding-left: 2rem;
    padding-right: 2rem;
}
.app_header {
    display: flex;
    justify-content: space-between;
    height: 6.4rem;
    position: relative;
    z-index: 999;
    .page_title {
        flex: 1;
        font-size: 1.8rem;
        font-weight: 700;
        .logo {
            height: 4rem;
        }
    }

    .header_btn {
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 4rem;
        height: 4rem;
        .icon {
            font-size: 3rem;
        }
    }
}

.global_nav {
    position: sticky;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 3rem calc(constant(safe-area-inset-bottom) + 0.4rem) 3rem;
    padding: 0.4rem 3rem calc(env(safe-area-inset-bottom) + 0.4rem) 3rem;
    background: #090909;
    border-radius: 16px 16px 0 0;

    .nav_item {
        min-width: 8rem;
        padding: 1.2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.4;
        &.active {
            opacity: 1;
        }

        .icon {
            font-size: 2.2rem;
            margin-bottom: 0.5rem;
        }
        .name {
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
}

.cmm_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
    background: $primary_color;
    border-radius: 4px;
    margin: 1rem 0;
    padding: 0 1em;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;

    &:hover {
        background: $primary_color_hover;
    }

    &.icon {
        padding: 0 2em 0 1em;
        .btn_icon {
            width: 2.4rem;
            margin-right: 1rem;
        }
        img {
            width: 2.4rem;
            height: auto;
        }
        svg {
            font-size: 2rem;
        }
    }
    &.google {
        color: #222;
        background: #fff;
        &:hover {
            background-color: #fff;
        }
    }

    &:disabled {
        opacity: 0.4;
    }

    &:disabled.loading {
        font-size: 0;
        .btn_icon {
            display: none;
        }
        &:before {
            content: "";
            display: block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            border: 3px solid rgba(255, 255, 255, 0.4);
            border-top-color: #fff;
            animation: spin 1.5s linear infinite;
        }
    }
}

.upload_btn {
    width: 6rem;
    height: 6rem;
    border-radius: 4px;
    border: 2px dashed rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.4);
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
    font-weight: 700;
    span {
        opacity: 0.6;
    }
    .emp {
        padding-left: 0.5rem;
        opacity: 1;
        text-decoration: underline;
    }
}

.user_info_box {
    margin-bottom: 4em;
    .user_profile {
        display: flex;
        align-items: center;
        margin-bottom: 2em;
    }
    .user_pic {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        overflow: hidden;
        border: 4px solid #333;
        margin-right: 1em;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .user_count {
        display: flex;
        align-items: center;
        opacity: 0.5;
        svg {
            color: #e9981e;
            opacity: 1;
            margin-right: 1rem;
        }
    }

    .user_detail {
    }
    .user_name {
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -0.05em;
        margin-bottom: 0.4em;
    }

    .user_email {
        opacity: 0.4;
    }
}

.feed_item {
    padding-bottom: 2em;
    border-bottom: 8px solid $black_color_3;
    .feed_photo {
        max-height: 30rem;
        overflow: hidden;
        background: #333;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        img {
            width: 100%;
            height: auto;
        }

        .fake_frame {
            img {
                opacity: 0;
            }
        }
    }
    .feed_content {
        padding: 2rem 1.2rem 2rem;
        pre {
            font-family: inherit;
            line-height: 1.4;
            white-space: pre-wrap;
            opacity: 0.9;
        }
    }
    .feed_meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1.2rem;

        .user_name {
            opacity: 0.6;
            font-weight: 500;
            font-size: 1.3rem;
            display: flex;
            align-items: center;
            svg {
                font-size: 1.6rem;
                margin-right: 0.4em;
            }
        }

        .meta {
            display: flex;
            align-items: center;
            .delete {
                font-size: 1.1rem;
                margin-right: 0.5em;
                padding-right: 0.5em;
                color: red;
            }
            .date {
                opacity: 0.4;
                font-size: 1.1rem;
            }
        }
    }
}

.write_form {
    textarea {
        width: 100%;
        height: 40vh;
        border-radius: 8px;
        background: #000;
        padding: 1.4em;
        border: none;
        resize: none;
        overflow: auto;
    }
}

.loader_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    .loader {
        width: 5rem;
        height: 5rem;
        border: 4px solid rgba(255, 255, 255, 0.5);
        border-top: 4px solid $primary_color_hover;
        border-radius: 50%;
        animation: spin 1.5s linear infinite;
    }
}

.nullBox {
    width: 100%;
}

.notice_card {
    padding: 1rem;
    & + & {
        padding-top: 0;
    }

    .box {
        padding: 2rem;
        border-radius: 8px;
        background: $black_color_3;
    }
    .ment {
        line-height: 1.4;
        margin-bottom: 1em;
    }
    .btn {
        display: inline-block;
        padding: 0.8em 1em;
        border-radius: 5px;
        background: $primary_color;
        font-size: 1.4rem;
        font-weight: 700;
        &:hover {
            background: $primary_color_hover;
        }
    }
}

.login_form {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &.alone {
        border: none;
    }

    .form_input {
        background: #222;
        border-radius: 4px;
        height: 5rem;
        margin-bottom: 1rem;
        overflow: hidden;
        color: #fff;
        input {
            width: 100%;
            height: 100%;
            background: transparent;
            padding: 0 1em;
            letter-spacing: -0.04em;
            font-size: 1.5rem;
            font-weight: 700;
            color: #fff;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
            -webkit-text-fill-color: #fff !important;
            -webkit-box-shadow: 0 0 0 30px #222 inset !important;
        }
    }
}

.preview_box {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 4px;
    overflow: hidden;
    .delete {
        background: rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.6);
        color: #fff;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        z-index: 1;
        font-size: 2rem;
        letter-spacing: -0.05em;
        transition: background 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: $primary_color;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}
